{% extends 'base.html' %}

{% block bodyblock%}
    <div class="container">
        <br>
        <h3 class="content">
            <span style="color: #243CA0">Stress Classification</span>
        </h3>
    </div>
    <div class="container">
        <br>
        <form action="#" method="post" enctype="multipart/form-data">
            
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnactive" autocomplete="off" value="stream">
                    <label class="btn btn-outline-primary" for="btnactive">Activate Stream</label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btndesactive" autocomplete="off" value="noStream"checked>
                    <label class="btn btn-outline-primary" for="btndesactive">Desactivate Stream</label>
                </div>
                <input type="submit" class="btn btn-primary" value="upload & predict">                
            </div>
            <div class="form-row" id="load">
                <label for="upload">Upload to predict</label>
                <input type="file" class="form-control-file" id="upload" name="image">   
            </div>            
        </form>
    </div>
    <br>
    <br>

    {% if fileupload %}
        {% if type == 'image' %}
            <div class="container">
                <div class="row">
                    <div class="col-md-6" id="predict">
                        <img src="{{ url_for('static',filename='uploads/')}}{{ img_name }}" alt="imageNotFound" width="{{ w }}" height="300" />
                    </div>
                    <div class="col-md-6" id="predict">
                        <img src="{{ url_for('static',filename='predict/')}}{{ img_name }}" alt="imageNotFound" width="{{ w }}" height="300"/>
                    </div>
                </div>
            </div>
            <style>
                #predict{
                    border:solid;
                    color: #002f4d;
                    text-align:center;
                }
            </style>
        {% endif %}
        {% if type == 'video' %}
            <div class="container" id="stream">
                <img src="{{ url_for('video', filename=filename, status=status)}}" width="50%"/>
            </div>
            <style>
                #stream{
                    text-align:center;
                }
            </style>            
        {% endif %}
    {% endif %}
    <script src="/static/js/index.js"></script>
{% endblock%}