{% extends 'base.html' %}

{% block bodyblock%}
<div class="container">
    <br>
    <h3 class="content">
        <span style="color: #243CA0">Stress application</span>
    </h3>
    <br>
    <p class="content">
        Stress AI is an application dedicated to detecting stress through images or videos of people in a non-invasive way so that users can better understand their health. This application was developed using machine learning and deep learning techniques for image analysis.
    </p>
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static',filename='images/StressFlow.jpg')}}" alt="imageNotFound" width="600" height="230">
        </div>
        <div class="col-md-6" align="center">
            <a href="{{ url_for('stress')}}" class="btn btn-outline-primary">Try it now</a>
        </div>
    </div>
</div>
{% endblock %}