{% extends 'base.html' %}

{% block bodyblock%}
    <div class="container">
        <br><br>
        <h3 class="content">
            <span style="color: #243CA0">Welcome to Stress </span> <span style="color: #FC9D25">AI</span> 
        </h3>
        <br>
        <br>
        <p class="content">
            Stress AI is a master thesis project that wants to provide a non-invasive alternative to detect stress in the workplace so that compannies can start addressing the problem in its early stages. With that information, it will be possible to provide more specific workplace stress management tools for employees to decrease
occupational health problems in the long term.
        </p>
    </div>
{% endblock%}